[Desktop Entry]
Name=Desktop Layout
Comment=Change interface betweeen different layouts
Exec=cinnamon-settings ubuntucinnamondesktoplayout
Terminal=false
Type=Application
Icon=cinnamon-layout
Categories=Application;System;
Keywords=wasta;
OnlyShowIn=X-Cinnamon;
